@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.pulse-animation {
    animation: pulse 1s 5 forwards;
}

@keyframes rowAppear {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-row {
    opacity: 0;
    transform: translateY(-10px);
    animation: rowAppear 0.5s ease-out forwards;
}